*{
    margin: 0 auto;
  padding: 0;
}

.card {
  padding: 20px;
  background-color: #4ab7ff60;
  width: 450px;
}

.card--shadow {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.418);
}

.card--rounded {
  border-radius: 8px;
}

.card--hover:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease;
}


.CHOW {
  padding: 20px;
  background-color: #ffe88471;
  width: 450px;
}

.card--shan {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.418);
}

.card--round {
  border-radius: 8px;
}

.card--hoverr:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease;
  background-color: rgb(195, 82, 148);
transform: translateX(60%);
transition:all 1s ease-in-out;
}


.mvp {
  padding: 20px;
  background-color: #865c53;
  width: 450px;
}

.mvp--shadow {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.418);
}

.mvp--rounded {
  border-radius: 8px;
}

.mvp--hover:hover {
  transform: scaleY(0);
  transition: transform 0.3s ease;
  transition:all .6s ease-in-out;
}


.np {
  padding: 20px;
  background-color: #ff7373de;
  width: 450px;

}

.np--shadow {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.418);
}

.np--rounded {
  border-radius: 8px;
}

.np--hover:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease;
  -webkit-transform:scale(1.1);transform:scale(1.1);
}
